body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

h1, h2, h3 {
	margin-top: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

input, button, textarea {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

button {
	cursor: pointer;
}

.hide {
	visibility: hidden;
	opacity: 0;
}
.show {
	visibility: visible;
	opacity: 1;
}